# Stellar/Soroban Network Configuration
# Set to 'testnet' for SDF Testnet or 'public' for Mainnet
VITE_STELLAR_NETWORK=testnet

# Horizon API URL Configuration
VITE_HORIZON_URL=https://horizon-testnet.stellar.org

# Soroban RPC Node URL Configuration
VITE_SOROBAN_RPC_URL=https://soroban-testnet.stellar.org

# Soroban Smart Contract Address Registries
VITE_LEASE_CONTRACT_ID=CCDQLW2CKRUL4OCQDIW7SQ5VOT3IIMFTIZST3KVNAO3J5M6HJDLUTNF3
VITE_ESCROW_CONTRACT_ID=CDMLNC5EUTGZDAPOJSKGYGGOVPOSUFMRUXIWUB4C3ERJZIQSMXMDDI6N
VITE_REPUTATION_CONTRACT_ID=CDWJQYLPI6SBNGTUGAN4V3SA7GEE6LZIOMMU46CQPM4NHDTSGGU47HQO
